.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #ccc;
    padding: 0.4rem;
    border-radius: 10px;
} 

.basic-info {
    flex: 1;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .img {
        border-radius: 50%;
    }

    div {
        margin: 0 1rem;
        span {
            font-weight: bold;
        }
    }
}

.actions {
    .btn {
        font-size: 1.6rem;
        color: black;
        background-color: white;
        transition: all 0.2s linear;
        margin: 0 1rem;
    }

    .btn:hover {
        background-color: rgb(166, 164, 164);
    }
}

.detail-product {
    width: 90%;
    max-height: 50rem;
    overflow-y: scroll;

    .field {
        font-weight: 300;
    }
}