#container {
    height: 100%;

    .table {
        font-size: 1.5rem;
    }

    .button {
        text-transform: none;
        font-size: 1.5rem;
        border-radius: 1rem;
        border-width: 2rem;
        border-color: #e8e8e810;
        margin: 1rem;
    }
}