.container {
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter {
    width: 100%;

    .title {
        font-weight: bold;
    }

    .title ~ .title {
        margin-left: 2rem;
    }

    .add-account {
        font-size: 1.2rem !important;
        margin-left: 2rem;
        background-color: #ccc;
        padding: 0 0.4rem;

        &:hover {
            background-color: rgb(173, 164, 164);
        }
    }
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    width: 100%;

    .account-item {
        background-color: #fff;
        padding: 1rem;
        width: 90%;
        margin: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 4px black;
    }
}

.back {
    font-size: 1.2rem !important;
    background-color: #ccc !important;
    transition: all 0.2s linear;

    &:hover {
        background-color: rgb(141, 136, 136) !important;
    }
}