.container {
    flex: 1;
    overflow-y: scroll;
}

.detail {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .back {
        font-size: 1.6rem;
        background-color: #ccc;
        transition: all 0.2s linear;

        &:hover {
            background-color: rgb(141, 136, 136);
        }
    }

    .pdl-detail {
        overflow-y: scroll;
        flex: 1;
    }
}